command=~/.config/i3blocks/$BLOCK_NAME/$BLOCK_NAME
separator_block_width=20
markup=none

[weather]
command=curl -Ss 'https://wttr.in/iad?0&T&Q' | cut -c 16- | head -2 | xargs echo
interval=3600
color=#A4C2F4

[volume]
label=♪
interval=once
signal=10
#STEP=5%

[iface]
#IFACE=wlan0
color=#00FF00
interval=10
separator=false

[wifi]
INTERFACE=wlp59s0
label=wifi:
interval=10
separator=false

[cpu_usage]
label=CPU
interval=10
min_width=CPU 100.00%
#separator=false

[battery]
label=⚡
interval=30

[time]
command=date '+%Y-%m-%d %H:%M:%S'
interval=5

